/******************************************************
 *  json store                 *
\*****************************************************/
body {
  font-family: "Helvetica Neue", Lucida, Helvetica, Arial, sans-serif;
  background: #F2D7AC;
  color: #333;
  margin: 0px;
  padding: 0px;
}

#header {
  background: #3D1711;
  margin: 0px;
  padding: 20px;
}
#header h1 {
  font-family: "Helvetica Neue", Monaco, Courier, mono;
  color: #F2D7AC;
  margin: 0px;
}

img {
  border: 0;
}

.item {
  float:left;
  width: 250px;
  text-align:center;
  font-size: 12px;
}
.item-bookTitle {
  font-weight: bold;
}
.item-author {
  font-weight: bold;
  font-size: 14px;
}
.item-detail .item-image {
  float:left;
}
.item-detail .item-info {
  padding: 100px 10px 0px 10px;
}