<div class="item-detail">
  <div class="item-image"><img src="<%= item.detailImage %>" alt="<%= item.bookTitle %>" /></div>
  <div class="item-info">
    <div class="item-bookTitle"><%= item.bookTitle %></div>
    <div class="item-author"><%= item.author %></div>
    <div class="item-price">$<%= item.price %></div>

    <div class="item-link"><%= item.bookRating %></div>
    <div class="back-link"><a href="#/">&laquo; Back to Items</a></div>
  </div>
</div>